<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" >
        <img src="assets/profile.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{education}}</p>
          <p class="card-text">{{area}}</p>
          <div class="d-grid gap-2">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">{{offConvasButton}}</a>
            <a class="btn btn-primary" href={{downloadHref}} role="button">{{download}}</a>
          </div>     
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{aboutTitle}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{aboutSubTitle}}</h6>
          <p class="card-text">{{aboutBody}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{careerTitle}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{careerSubTitle}}</h6>
          <p class="card-text">{{careerBody}}</p>
        </div>
      </div>   
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{socialTile}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{socialSubTitle}}</h6>
            <div class="d-grid gap-2">
              <a class="btn btn-primary" href={{gitHubHref}} role="button">{{gitHub}}</a>
              <a class="btn btn-primary" href={{linkedInHref}} role="button">{{linkedIn}}</a>
            </div>     
        </div>
      </div>
    </div>
  </div>
</div>

<!--OffCanvas-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{offCanvasTitle}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-grid gap-2"> 
      <a class="btn btn-primary" href={{cellHref}} role="button">{{cell}}</a>
      <a class="btn btn-primary" href={{emailHref}} role="button">{{email}}</a>
    </div>   
  </div>
</div>
