<div class="container-fluid">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/nwu_logo.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{cardTitle}}</h5>
              <h6>{{cardContent}}<br></h6>
              <p class="card-text">{{cardSubContent}} <br><br>
                {{cardKeyWords}} <br></p>
                <a class="btn btn-primary" href={{downloadHref}} role="button"><i class="bi bi-download" id="ico"></i>{{download}}</a>
            </div>
          </div>
        </div>
      </div>
</div>