<div class="container-fuild">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{codewars_title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{codewars_subtitle}}</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Profile Name: {{codewars_username}}</li>
                <li class="list-group-item">Honor: {{codewars_honor}}</li>
                <li class="list-group-item">Overall Rank: {{codewars_rank}} </li>
                <li class="list-group-item">Rank Name: {{codewars_rank_name}}</li>
                <li class="list-group-item">Rank Color: {{codewars_rank_color}}</li>
                <li class="list-group-item">Rank Score: {{codewars_rank_score}}</li>
                <li class="list-group-item"> Languages:
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Java:
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Rank: {{codewars_rank_java}}</li>
                                <li class="list-group-item">Rank Name: {{codewars_rank_java_name}}</li>
                                <li class="list-group-item">Score: {{codewars_rank_java_score}}</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item"> Challenges Completed: {{codewars_challenges_completed}}</li>
            </ul>
        </div>
    </div>
</div>