.container {
    margin-top: 1.5rem;
}

h6 {
    color: #ebebeb;
}

h3 {
    color: #ebebeb;
}
.timeline_area {
    position: relative;
    z-index: 1;
}
.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 11.25rem;
}
@media only screen and (max-width: 35.938rem) {
    .single-timeline-area {
        padding-left: 6.25rem;
    }
}
.single-timeline-area .timeline-date {
    position: absolute;
    width: 11.25rem;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 3.75rem;
}
@media only screen and (max-width: 35.938rem) {
    .single-timeline-area .timeline-date {
        width: 6.25rem;
    }
}
.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 0.188rem;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 1.25rem;
    z-index: 1;
}
.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 0.688rem;
    height: 0.688rem;
    border-radius: 50%;
    background-color: #0bb5f4 ;
    content: "";
    top: 50%;
    right: 1.625rem;
    z-index: 5;
    margin-top: -0.344rem;
}
.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #ebebeb;
    font-size: 0.813rem;
    text-transform: uppercase;
    font-weight: 500;
}
.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 1.875rem 1.875rem 1.563rem;
    border-radius: 0.375rem;
    margin-bottom: 0.938rem;
    color: #ebebeb;
    background-color: #1F2833;
    margin-top: 0.938rem;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 0.063rem solid #ebebeb;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
}
.single-timeline-area .single-timeline-content .timeline-icon {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 1.875rem;
    height: 1.875rem;
    background-color: #0bb5f4 ;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.875rem;
    flex: 0 0 1.875rem;
    text-align: center;
    max-width: 1.875rem;
    border-radius: 50%;
    margin-right: 0.938rem;
}
.single-timeline-area .single-timeline-content .timeline-icon i {
    color: #ffffff;
    line-height: 0.938rem;
}
.single-timeline-area .single-timeline-content .timeline-text h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-timeline-area .single-timeline-content .timeline-text p {
    font-size: 0.813rem;
    margin-bottom: 0;
}
.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
    background-color: #020710;
}
.single-timeline-area .single-timeline-content:hover .timeline-text h6,
.single-timeline-area .single-timeline-content:focus .timeline-text h6 {
    color: #3f43fd;
}