<div class="container-fluid">
    <div class="card" id="skills-card" @fade>
        <div class="card-body">
          <h5 class="card-title">{{cardTitle}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{cardSubTitle}}</h6>
            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span><h6>{{web}}</h6></span>
                    </div>
                    <div class="progress-line web"><span></span></div>
                </div>
            </div>

            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span><h6>{{java}}</h6></span>
                    </div>
                    <div class="progress-line java"><span></span></div>
                </div>
            </div>
            
            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span><h6>{{mobile}}</h6></span>
                    </div>
                    <div class="progress-line mobile"><span></span></div>
                </div>
            </div>

            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span><h6>{{cSharp}}</h6></span>
                    </div>
                    <div class="progress-line cSharp"><span></span></div>
                </div>
            </div>

            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span><h6>{{cPlus}}</h6></span>
                    </div>
                    <div class="progress-line cPlus"><span></span></div>
                </div>
            </div>

            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span><h6>{{python}}</h6></span>
                    </div>
                    <div class="progress-line python"><span></span></div>
                </div>
            </div>

            <div class="skill-bars">
                <div class="bar">
                    <div class="info">
                        <span><h6>{{sql}}</h6></span>
                    </div>
                    <div class="progress-line sql"><span></span></div>
                </div>
            </div>
     
         
        </div>
      </div>
</div>