/* You can add global styles to this file, and also import other style files */

html, body
{
    background-image: url('../src/assets/background.jpg');
}

body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card
{
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.card img{
    max-width: 100%;
}
